<mat-toolbar fxLayoutAlign="space-between center">
  <div matRipple class="logo-div bg-color-primary" routerLink="/home">
    <img src="assets/images/logo.png" alt="" />
  </div>
  <div fxHide.lt-md>
    <button mat-stroked-button routerLinkActive="activo" routerLink="/home">
      <b>INICIO</b>
    </button>
    <button mat-stroked-button routerLinkActive="activo" routerLink="/searches">
      <b>BÚSQUEDAS</b>
    </button>
    <button mat-stroked-button routerLinkActive="activo" routerLink="/adoptions">
      <b>ADOPCIONES</b>
    </button>
  </div>
  <div fxHide.lt-md *ngIf="!isLogued; else userIcon">
    <button mat-stroked-button class="mat-primary" routerLinkActive="activo" (click)="login_SignUp('login')">
      <b>INGRESAR</b>
    </button>
    <b>|</b>
    <button mat-stroked-button class="mat-primary" routerLinkActive="activo" (click)="login_SignUp('signup')">
      <b>REGISTRARSE</b>
    </button>
  </div>
  <ng-template #userIcon>
    <button mat-mini-fab color="primary" [matMenuTriggerFor]="menuSesion"><mat-icon>account_circle</mat-icon></button>
    <mat-menu #menuSesion="matMenu">
      <button mat-menu-item (click)="logout()"> 
        <b>Cerrar Sesión</b>
      </button>
    </mat-menu>
  </ng-template>

  <div fxLayoutAlign="space-between center" fxHide.gt-sm>
    <button id="mini-menu" mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLinkActive="activo" routerLink="/home">
        <b>INICIO</b>
      </button>
      <button mat-menu-item routerLinkActive="activo" routerLink="/searches">
        <b>BÚSQUEDAS</b>
      </button>
      <button mat-menu-item routerLinkActive="activo" routerLink="/adoptions">
        <b>ADOPCIONES</b>
      </button>
      <div *ngIf="!isLogued">
        <button mat-menu-item routerLinkActive="activo" (click)="login_SignUp('login')">
          <b>INGRESAR</b>
        </button>
        <button mat-menu-item routerLinkActive="activo" (click)="login_SignUp('signup')">
          <b>REGISTRARSE</b>
        </button>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>
