<div class="bg-color-primary barra mt-1" fxLayoutAlign="start center">
  <span fxFlex="2"></span>
  <button mat-stroked-button routerLink="/newsearch">Agregar</button>
</div>
<div fxLayoutAlign="start stretch" fxLayout.lt-sm="column">
  <div fxFlex="30" class="bg-color-secondary" fxLayout="column">
    <div class="p-1 mt-1 mb-1">
      <form action="" fxLayout="column" fxFlexOffset="15" fxFlex="70">
        <mat-form-field>
          <input matInput placeholder="Ubicación" />
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Distancia desde tu ubicación" name="item">
            <mat-option *ngFor="let item of distances" [value]="item.value">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Mascota" name="item">
            <mat-option *ngFor="let item of petType" [value]="item.value">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div dir="rtl">
          <button mat-raised-button color="primary" type="submit">
            Buscar
          </button>
        </div>
      </form>
    </div>
    <p class="p-1 mt-1 bg-color-primary text-center">Resultados encontrados</p>
    <div class="miss mt-1" fxLayout="column" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
      <p>Significado de los íconos</p>
      <div fxLayout.lt-sm="row">
        <div>
          <img src="assets/images/perdido-icon.png" />
          <p>Perdido</p>
        </div>
        <div>
          <img src="assets/images/avistamiento-icon.png" />
          <p>Avistamiento</p>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex>
    <button mat-mini-fab class="map-button" (click)="updateLocation()">
      <mat-icon>gps_fixed</mat-icon>
    </button>
    <agm-map fxFlex [latitude]="lat" [longitude]="lng">
      <agm-marker
        *ngFor="let item of publications"
        [latitude]="item.location.lat"
        [longitude]="item.location.lng"
        [iconUrl]="item.type === 'found' ? aIcon : pIcon"
        (markerClick)="openPetDialog(item.id)"
      ></agm-marker>
    </agm-map>
  </div>
</div>
<div class="bg-color-primary barrita"></div>
